@baseGreen: #484;
@lightGreen: lighten(@baseGreen, 10%);
@darkGreen: darken(@baseGreen, 10%);

@tabBase: @darkGreen;
@tabActive: lighten(@tabBase, 5%);
@tabWidth: 100% / 3;
@tabGreed: 5%;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: @darkGreen;
    font-family: Arial;
    font-size: 1rem;
}

#app {
    background-color: @baseGreen;
    min-height: 100%;
    max-width: 600px;
    margin: 0 auto;
}

nav a {
    background-color: @tabBase;
    border: solid #484;
    display: inline-block;
    width: @tabWidth - @tabGreed / 2;
    padding: 15px 0;
    text-align: center;
    border-width: 0 1px 0 0;
    font-size: 1rem;
    color: white;
    transition: width .2s ease-in-out;
}

nav a:last-child {
    border-width: 0;
}

nav a.active {
    width: @tabWidth + @tabGreed;
    background-color: @tabActive;
}

button {
    font-size: 1rem;
    background-color: #242;
    border: none;
    color: white;
    border-radius: 3px;
    border: 1px solid #242;
    padding: 15px 25px;
    margin: 5px;
}

button.secret-focus:focus {
    outline: none;
}

.tab-contents {
    padding: 15px;
}

.player-list {
    list-style-type: none;
}

.role-card .confirm:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 7px;
}

.role-card .cancel:before {
    content: "\f05e";
    font-family: FontAwesome;
    margin-right: 7px;
}

.mission-page .fail:before {
    content: "\f1e2";
    font-family: FontAwesome;
    margin-right: 7px;
}

.settings .toggle {
    background-color: #353;
    color: #777;
}

.settings .toggle.active {
    background-color: #242;
    color: #fff;
}

.player-list li {
    border-bottom: 1px solid #595;
    text-align: right;
}
.player-list li span {
    float: left;
}
