@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";

@baseGreen: #484;
@lightGreen: lighten(@baseGreen, 10%);
@lighterGreen: lighten(@lightGreen, 10%);
@darkGreen: darken(@baseGreen, 10%);

@baseRed: #c33;

@white: #fff;
@gray: #ccc;
@lightGray: lighten(@gray, 10%);

@beachStorm: #E0E4CC;       // off white
@cleanPondwater: #A7DBD8;   // light blue
@aoi: #69D2E7;              // brighter light blue
@giantGoldfish: #F38630;    // orange
@unrealFoodPills: #FA6900;  // brighter orange

@textColor: #333;
@pageBase: @white;
@background: @white;
@accentColor: @aoi;
@accentDisabled: lighten(@aoi, 20%);
@lessAccent: #eee;

@tabBase: lighten(@unrealFoodPills, 30%);
@tabActive: @unrealFoodPills;
@tabWidth: 100% / 3;
@tabGreed: 0%;

.darken-gradient (@startColor: #eee) {
    @endColor: darken(@startColor, 2%);
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: @background;
    font-family: Arial;
    font-size: 1rem;
}

#app {
    background-color: @pageBase;
    min-height: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 5px fade(black, 30%);
}

nav {
    box-shadow: 0 3px 3px -3px fade(black, 30%);
}

nav a {
    background-color: @white;
    border-top: 5px solid @tabBase;

    display: inline-block;
    width: @tabWidth - @tabGreed / 2;
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
    color: @textColor;
    transition: width .15s ease-in-out;

    &.active {
        background-color: fade(@tabActive, 10%);
        border-top: 5px solid @tabActive;
        width: @tabWidth + @tabGreed;
        transition: background-color 0.1s ease-in-out;
    }
}

button {
    font-size: 1rem;
    background-color: @accentColor;
    border: none;
    color: @textColor;
    border-radius: 3px;
    border: 1px solid #242;
    padding: 15px 25px;
    margin: 5px;
}

button.secret-focus:focus {
    outline: none;
}

.tab-contents {
    padding: 15px;
    @media @desktop {
        padding: 30px;
    }
}

.player-list {
    list-style-type: none;
}

.role-card .confirm:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 7px;
}

.role-card .cancel:before {
    content: "\f05e";
    font-family: FontAwesome;
    margin-right: 7px;
}

.mission-page .fail:before {
    content: "\f1e2";
    font-family: FontAwesome;
    margin-right: 7px;
}

.settings .toggle {
    background-color: @accentDisabled;
}

.settings .toggle.active {
    background-color: @accentColor;
}

.player-list li {
    // .darken-gradient(@lightGreen);
    background-color: @lessAccent;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: right;
}
.player-list li span {
    float: left;
    padding:16px;
    text-shadow: 1px 1px @white;
}
.player-list li button {
    margin: 0;
    border-radius: 0 5px 5px 0;
    // .darken-gradient(@darkGreen);
}

.labeled-number {
    margin: 0 auto;
    font-size: 5rem;
    text-align: center;

    figcaption {
        font-size: 1.5rem;
    }
}

.mission-page button {
    width: 100%;

    &.fail {
        background-color: @baseRed;
        border-color: darken(@baseRed, 20%);
    }
}
