@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";

@baseGreen: #484;
@lightGreen: lighten(@baseGreen, 10%);
@lighterGreen: lighten(@lightGreen, 10%);
@darkGreen: darken(@baseGreen, 10%);

@baseRed: #c33;

@white: #fff;
@gray: #ccc;
@lightGray: lighten(@gray, 10%);

@beachStorm: #E0E4CC;       // off white
@cleanPondwater: #A7DBD8;   // light blue
@aoi: #69D2E7;              // brighter light blue
@giantGoldfish: #F38630;    // orange
@unrealFoodPills: #FA6900;  // brighter orange

@textColor: #333;
@pageBase: @white;
@background: @white;
@accentColor: @aoi;
@accentDisabled: lighten(@aoi, 20%);
@lessAccent: #eee;

@tabBase: lighten(@unrealFoodPills, 30%);
@tabActive: @unrealFoodPills;
@tabWidth: 100% / 3;
@tabGreed: 0%;

.darken-gradient (@startColor: #eee) {
    // @endColor: darken(@startColor, lightness(@startColor) / 10);
    @endColor: darken(@startColor, 3%);
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: @background;
    font-family: Roboto, Arial;
    font-size: 1rem;
}

#app {
    position: relative;
    background-color: @pageBase;
    min-height: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 5px fade(black, 30%);
}

nav {
    box-shadow: 0 3px 3px -3px fade(black, 30%);
}

nav a {
    background-color: @white;
    border-top: 5px solid @tabBase;

    display: inline-block;
    width: @tabWidth - @tabGreed / 2;
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
    color: @textColor;
    transition: width .15s ease-in-out;

    &.active {
        background-color: fade(@tabActive, 10%);
        border-top: 5px solid @tabActive;
        width: @tabWidth + @tabGreed;
        transition: background-color 0.1s ease-in-out;
    }
}

button {
    font-size: 1rem;
    background-color: @accentColor;
    .darken-gradient(@accentColor);
    border: none;
    color: @textColor;
    font-family: Roboto;
    border-radius: 3px;
    border: none;
    padding: 15px 25px;
    margin: 5px;
    outline: none;
    text-shadow: 0 1px 1px fade(white, 30%);
}

button.secret-focus:focus {
    outline: none;
}

h2 {
    font-weight: 300;
}
.tab-contents {
    padding: 15px;
    @media @desktop {
        padding: 30px;
    }
}

.role-card {

    .spy {color: red;}
    .resistance {color: green;}

    .cancel:before {
        content: "\f05e";
        font-family: FontAwesome;
        margin-right: 7px;
    }

    .confirm:before {
        content: "\f00c";
        font-family: FontAwesome;
        margin-right: 7px;
    }
}

.settings {
    margin-top: 20px;
}

.settings .toggle {
    background: none;
    color: rgba(0,0,0,.57);
    text-transform: uppercase;
    margin:12px 6px;
    padding: 8px 12px;

    &:hover {
        background-color: rgba(0,0,0,0.25);
    }
}

.settings .toggle.active {
    color: #5ccee5;

    &:hover {
        color: white;
        background-color: @aoi;
    }
}

.player-list {
    @rounditude: 5px;
    @itemheight: 45px;
    list-style-type: none;

    li {
        position: relative;
        height: @itemheight;
        margin: 20px 0;
        // background-color: @lessAccent;

        &:before {
            @scrunch: 0%;
            content: "";
            position: absolute;
            width: 100% - 2 * @scrunch;
            height: 0;
            top: -10px;
            left: @scrunch;
            border-top: 1px solid lighten(black, 95%);
        }

        &:first-child:before {
            border-top: none;
        }
    }

    li:after {
        border-bottom: 1px solid red;
        background-color: blue;
        width: 100px;
        height: 100px;
    }

    li .namelet {
        float: left;
        // .darken-gradient(@cleanPondwater);
        color: white;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
        @diameter: 35px;
        width: @diameter;
        height: @diameter;
        border-radius: @diameter;
        font-size: @diameter - 15px;
        font-weight: 300;
        text-align: center;
        padding-top: 4px;
        margin-top: 5px;
        margin-left: 10px;
        box-shadow: inset 0 1px 3px 0px fade(black, 30%);
    }

    li .name {
        display: inline-block;
        margin: 13px 15px;
    }

    li input.name {
        height: 30px;
        margin: 8px 15px;
        border: none;
        outline: none;
        background-color: lighten(@lessAccent, 1%);
        padding-left: 10px;
        border-radius: 5px;
    }

    li button {
        float: right;
        height: @itemheight;
        margin: 0;
        padding: 0 20px;
    }

    li .delete {
        background: none;
        &:before {
            content: "\f014";
            font-family: FontAwesome;
            font-size: 1.2em;
        }

        &:hover {
            color: #c0392b;
            cursor: pointer;
        }
    }
}

.labeled-number {
    margin: 0 auto;
    font-size: 5rem;
    text-align: center;

    figcaption {
        font-size: 1.5rem;
    }
}

.mission-page.revealed .vote-holder {
    width: 280px;
    margin: 0 auto;
}

.mission-page.revealed .labeled-number {
    width: 80px;
    float: left;
    margin: 0 30px;
}

.mission-page button {
    width: 100%;

    &.fail {
        background-color: @baseRed;
        .darken-gradient(@baseRed);
        color: black;
        border-color: darken(@baseRed, 20%);
    }

    &.fail:before {
        content: "\f1e2";
        font-family: FontAwesome;
        margin-right: 7px;
    }

    &.reset {
        width: 100px;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    &.reset:before {
        content: "\f01e";
        font-family: FontAwesome;
        margin-right: 7px;
    }
}

.mission-numbers {
    text-align: center;
    color: #ccc;
    font-size: 1.5rem;
    word-spacing: 1.5rem;
    margin-top: -10px;
}
